.App {
  background-color: rgb(19, 195, 195);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title-bar {
  background-color: navy;
  background: linear-gradient(90deg, navy, #1084d0);
  display: flex;
  justify-content: space-between;
}

.main-content-container {
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
}

.home-tree {
  background-color: white;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
}

.home-tree li {
  list-style-type: none;
}

details>summary::before {
  content: "+"
}

.home-tree ul {
  border-left: 1px dotted gray;
  padding-left: 16px;
  margin-left: 10px;
}

summary::marker {
  content: none;
}

ul.home-tree details[open]>summary:before {
  content: "-";
}

ul.home-tree details[closed]>summary:before {
  content: "+";
}

ul.home-tree ul>li:before{
  border-bottom: 1px dotted grey;
  content: "";
  display: block;
  left: -16px;
  position: relative;
  top: 15px;
  width: 12px;
}

ul>li>details>summary {
  padding-left: 6px;
}

.title-text {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.window-container {
  border: .5px black solid;
  background-color: silver;
  min-height: fit-content;
  max-height: calc(100% - 50px);
}

menu {
  display: flex;
  list-style-type: none;
  margin: 0 0 -2px;
  padding-left: 3px;
  position: relative;
  text-indent: 0;
}

.title-bar {
  display: flex;
  align-content: space-between;
}
