@font-face {
  font-family: msSans;
  src: url(MS\ Sans\ Serif\ 8pt.ttf);
}

* {
  font-family: msSans;
}

.App {
  background-color: rgb(19, 195, 195);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title-bar {
  background-color: navy;
  background: linear-gradient(90deg, navy, #1084d0);
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.title-text {
  font-weight: 900;
  color: white;
  padding: 3px;
}

button {
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  background-color: #c0c0c0;
  min-height: 16px;
  min-width: 16px;
}

menu {
  display: flex;
  list-style-type: none;
  margin: 0 0 -2px;
  position: relative;
  text-indent: 0;
  padding: 3px 3px 1px 3px;
}

menu>li {
  padding: 6px;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  border-top-left-radius: 3px;
}

menu>li[aria-selected="true"] {
  z-index: 3;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

menu>li a {
  text-decoration: none;
  color: inherit;
}

.main-content-container {
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px #808080, inset 2px 2px #fff;
  padding: 3px;
  margin: 1px;
}

.main-content {
  padding: 6px;
}

.home-tree {
  background-color: white;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  padding: 6px;
}

.home-tree li {
  list-style-type: none;
}

details>summary::before {
  content: "+"
}

.home-tree ul {
  border-left: 1px dotted gray;
  padding-left: 16px;
  margin-left: 10px;
}

summary::marker {
  content: none;
}

ul.home-tree details[open]>summary:before {
  content: "-";
}

ul.home-tree details[closed]>summary:before {
  content: "+";
}

ul.home-tree ul>li:before{
  border-bottom: 1px dotted grey;
  content: "";
  display: block;
  left: -16px;
  position: relative;
  top: 15px;
  width: 12px;
}

ul>li>details>summary {
  padding-left: 6px;
}

.window-container {
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px #808080, inset 2px 2px #fff;
  background-color: silver;
  min-height: fit-content;
  max-height: calc(100% - 50px);
  padding: 3px;
}

.title-bar {
  display: flex;
  align-content: space-between;
  padding: 3px, 2px, 3px, 3px;
}
